{% extends 'main/layout.html' %}
{% block title %}Contacts page{% endblock %}

{% block head %}
    <link href="https://instagram.com/sofi.maye?igshid=su8vt87kv3pt">
    <link href="https://www.google.com/intl/ru/gmail/about/">
{% endblock %}

{% block content %}
           <ul class="col-12 contacts">
{#        <a href="https://instagram.com/sofi.maye?igshid=su8vt87kv3pt">#}
{#            <li><i class="fab fa-instagram"></i>@sofi.maye</li>#}
{#        </a>#}
               <a href="mailto:sofi.mann99@gmail.com" target="_blank" rel="noopener norefferer">
                <li><i class="far fa-envelope"></i>sofi.mann99@gmail.com</li>
               </a>
           </ul>

        <div class="col-12 about">
            <h1> Hi, my name is Sofi. I have a work experience as a professional model abroad.
                My measurements are 88-60-88, height 175 cm. I can arrange shooting for you.
                Also I can write a website for your brand. Contact me:) </h1>
        </div>
{% endblock %}