{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Main page{% endblock %}

{% block content %}
    <div class="col pic">
        <source srcset="{% static 'main/img/50px.jpg' %}" media="(max-width:50px)">
        <source srcset="{% static 'main/img/360px.JPG' %}" media="(max-width: 360px)">
        <source srcset="{% static 'main/img/720px.JPG' %}" media="(max-width: 2000px)">
        <source srcset="{% static 'main/img/1080px.jpg' %}" media="(max-width: 2500px)">
        <source srcset="{% static 'main/img/1440px.jpg' %}" media="(max-width: 3000px)">

        <img src="{% static 'main/img/IMGnewsize1.JPG' %}" alt='my photo'>
    </div>

{% endblock %}






