{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Portfolio{% endblock %}


{% block head %}
{% endblock %}



{% block content %}
    <div class="grid">
    <div class="grid-item">
    <a data-fslightbox="gallery" href="{% static 'main/img/IMGnewsize.jpg' %}">
        <img src="{% static 'main/img/IMGnewsize.jpg' %}">
    </a>
    </div>
      <div class="grid-item">
     <a data-fslightbox="gallery" href="{% static 'main/img/IMGnewsize1.JPG' %}">
        <img src="{% static 'main/img/IMGnewsize1.JPG' %}">
    </a>
      </div>

        <div class="grid-item">
     <a data-fslightbox="gallery" href="{% static 'main/img/IMGnewsize2.jpg' %}">
        <img src="{% static 'main/img/IMGnewsize2.jpg' %}">
    </a>
        </div>

        <div class="grid-item">
     <a data-fslightbox="gallery" href="{% static 'main/img/IMGnewsize3.jpg' %}">
        <img src="{% static 'main/img/IMGnewsize3.jpg' %}">
    </a>
        </div>
      <div class="grid-item">
     <a data-fslightbox="gallery" href="{% static 'main/img/IMGnewsize4.jpg' %}" class="grid-item">
        <img src="{% static 'main/img/IMGnewsize4.jpg' %}">
    </a>
        </div>

      <div class="grid-item">
     <a data-fslightbox="gallery" href="{% static 'main/img/IMGnewsize5.jpg' %}" class="grid-item">
        <img src="{% static 'main/img/IMGnewsize5.jpg' %}">
    </a>
        </div>

      <div class="grid-item">
     <a data-fslightbox="gallery" href="{% static 'main/img/IMGnewsize6.jpg' %}" class="grid-item">
        <img src="{% static 'main/img/IMGnewsize6.jpg' %}">
    </a>
        </div>

      <div class="grid-item">
     <a data-fslightbox="gallery" href="{% static 'main/img/IMGnewsize7.jpg' %}" class="grid-item">
        <img src="{% static 'main/img/IMGnewsize7.jpg' %}">
    </a>
        </div>

      <div class="grid-item">
     <a data-fslightbox="gallery" href="{% static 'main/img/IMGnewsize8.jpg' %}" class="grid-item">
        <img src="{% static 'main/img/IMGnewsize8.jpg' %}">
    </a>
      </div>
      <div class="grid-item">
     <a data-fslightbox="gallery" href="{% static 'main/img/IMGnewsize9.jpg' %}" class="grid-item">
        <img src="{% static 'main/img/IMGnewsize9.jpg' %}">
    </a>
        </div>

        <div class="grid-item">
     <a data-fslightbox="gallery" href="{% static 'main/img/IMGnewsize10.jpg' %}" class="grid-item">
        <img src="{% static 'main/img/IMGnewsize10.jpg' %}">
    </a>
        </div>

         <div class="grid-item">
     <a data-fslightbox="gallery" href="{% static 'main/img/IMGnewsize11.jpg' %}" class="grid-item">
        <img src="{% static 'main/img/IMGnewsize11.jpg' %}">
    </a>
        </div>
       <div class="grid-item">
     <a data-fslightbox="gallery" href="{% static 'main/img/IMGnewsize12.jpg' %}" class="grid-item">
        <img src="{% static 'main/img/IMGnewsize12.jpg' %}">
    </a>
        </div>

         <div class="grid-item">
     <a data-fslightbox="gallery" href="{% static 'main/img/IMGnewsize13.jpg' %}" class="grid-item">
        <img src="{% static 'main/img/IMGnewsize13.jpg' %}">
    </a>
        </div>

         <div class="grid-item">
     <a data-fslightbox="gallery" href="{% static 'main/img/IMGnewsize14.jpg' %}" class="grid-item">
        <img src="{% static 'main/img/IMGnewsize14.jpg' %}">
    </a>
        </div>

         <div class="grid-item">
     <a data-fslightbox="gallery" href="{% static 'main/img/IMGnewsize15.jpg' %}" class="grid-item">
        <img src="{% static 'main/img/IMGnewsize15.jpg' %}">
    </a>
        </div>
    </div>

    <script src="{% static 'main/js/fslightbox.js' %}"></script>
{% endblock %}
