{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Portfolio{% endblock %}


{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/galleria/1.6.1/galleria.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/ss/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
{% endblock %}


{% block content %}
    <div class="galleria">
        <img src="{% static 'main/img/1.jpeg' %}">
        <img src="{% static 'main/img/2.jpeg' %}">
        <img src="{% static 'main/img/3.jpeg' %}">
        <img src="{% static 'main/img/darknew1.jpeg'%}">
        <img src="{% static 'main/img/darknew2.jpeg'%}">
        <img src="{% static 'main/img/darknew3.jpeg'%}">
        <img src="{% static 'main/img/darknew6.jpeg'%}">
        <img src="{% static 'main/img/darknew7.jpeg'%}">
        <img src="{% static 'main/img/light1.jpeg'%}">
        <img src="{% static 'main/img/light2.jpeg'%}">
        <img src="{% static 'main/img/light3.jpeg'%}">
        <img src="{% static 'main/img/light4.jpeg'%}">
        <img src="{% static 'main/img/light5.jpeg'%}">
        <img src="{% static 'main/img/light6.jpeg'%}">
        <img src="{% static 'main/img/light7.jpeg'%}">
        <img src="{% static 'main/img/light8.jpeg'%}">

    </div>
    <script>
        Galleria.loadTheme('https://cdnjs.cloudflare.com/ajax/libs/galleria/1.6.1/themes/classic/galleria.classic.min.js');
        Galleria.run('.galleria');
    </script>

{% endblock %}







