.navigation, .content {
    margin-right: 0px; /* TODO: properly use bootstrap */
    margin-left: 0px; /* TODO: properly use bootstrap */
}
.content {
    height: 100vh; /* TODO: stretch to bottom */
}
.fig {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fig img {
    height: 100vh;
    max-height: 100vh;
    width: auto;
}

.col {
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    list-style-type: none;
    font-variant: small-caps;
    font-style: normal;
    font-weight: bold;

}

.col a {
    text-decoration: none;
}

.col li {
    color: black;
    padding: 5%;
    font-size: 150%;
    transition: transform .6s ease;
}

.col li:hover, .col a:hover {
    color: fuchsia;
    transform: scale(1.10);
}

.galleria {
    padding-left: 0px; /* TODO: properly use bootstrap */
}

.contacts {
    background-color: #dcdcdc;
}

.contacts ul {
    font-variant: small-caps;
    margin-top: 10%;
    text-align: center;
    font-size: 150%;
    font-style: normal;
}

.contacts ul li {
    color: black;
    display: block;
    font-weight: bold;
    transition: transform .6s ease;
}

.contacts ul li:hover, .contacts ul a:hover {
    color: fuchsia;
    transform: scale(1.10);
}

.contacts h1 {
    font-style: normal;
    font-variant: small-caps;
    font-size: x-large;
    font-weight: bold;
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}




