body {
    background-color: transparent;
    background-size: 100%;
}

.body_slides {
    background-color: transparent;
    z-index: -2;
    margin: 0px auto;
}

.body_slides,
.body_slides:after {
    position: absolute;
    background-size: contain;
    width: 74%;
    height: 100%;
    padding: 0px;
}

.body_slides li {
    list-style-type: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    -webkit-animation: anim_slides 12s linear infinite 0s;
    -moz-animation: anim_slides 12s linear infinite 0s;
    -o-animation: anim_slides 12s linear infinite 0s;
    -ms-animation: anim_slides 12s linear infinite 0s;
    animation: anim_slides 12s linear infinite 0s;
}

.body_slides li:nth-child(1) {
    background-image: url("../img/light3.jpeg")
}

.body_slides li:nth-child(2) {
    -webkit-animation-delay: 3.0s;
    -moz-animation-delay: 3.0s;
    background-image: url("../img/light2.jpeg")
}

.body_slides li:nth-child(3) {
    -webkit-animation-delay: 6.0s;
    -moz-animation-delay: 6.0s;
    background-image: url("../img/light4.jpeg")
}

.body_slides li:nth-child(4) {
    -webkit-animation-delay: 9.0s;
    -moz-animation-delay: 9.0s;
    background-image: url("../img/light6.jpeg")
}

@-webkit-keyframes anim_slides {
    0% {
        opacity: 0;
    }
    6% {
        opacity: 1;
    }
    24% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes anim_slides {
    0% {
        opacity: 0;
    }
    6% {
        opacity: 1;
    }
    24% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.aside a {
    text-decoration: none;
}
.aside {
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    position: relative;
    height: 100vh;
    color: black;
}

.aside h3 {
    margin-top: 20%;
    margin-left: 14%;
    font-weight: bold;
    font-size: 200%;
}

.aside ul li {
    color: black;
    display: block;
    font-size: 150%;
    transition: transform .6s ease;
    margin-top: 10%;
}

.aside ul li:hover, .aside ul a:hover {
    color: fuchsia;
    transform: scale(1.10);
}

.galleria {
    height: 100vh;
}

.col-6 a {
    text-decoration: none;
}

.col-6 ul {
    margin-top: 30%;
    font-size: 150%;
    font-style: normal;
}

.col-6 ul li {
    color: black;
    display: block;
    font-size: 75%;
    font-weight: bold;
    margin-top: 10%;
    transition: transform .6s ease;
}

.col-6 ul li:hover, .col-6 ul a:hover {
    color: fuchsia;
    transform: scale(1.10);
}

.col-6 h4 {
    margin-top: 20%;
}



