body {
    background-color: plum;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.body_slides {
    list-style: none;
    background-size: cover;
    background-color: plum;
    z-index: -2;

}

.body_slides,
.body_slides:after {
    position: absolute;
    width: 74%;
    height: 100%;
    padding: 0px;
}

.body_slides after {
    content: '';
}

.body_slides li {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    -webkit-animation: anim_slides 12s linear infinite 0s;
    -moz-animation: anim_slides 12s linear infinite 0s;
    -o-animation: anim_slides 12s linear infinite 0s;
    -ms-animation: anim_slides 12s linear infinite 0s;
    animation: anim_slides 12s linear infinite 0s;
}

.body_slides li:nth-child(1) {
    background-image: url("../img/light3.jpeg")
}

.body_slides li:nth-child(2) {
    -webkit-animation-delay: 3.0s;
    -moz-animation-delay: 3.0s;
    background-image: url("../img/light2.jpeg")
}

.body_slides li:nth-child(3) {
    -webkit-animation-delay: 6.0s;
    -moz-animation-delay: 6.0s;
    background-image: url("../img/light4.jpeg")
}

.body_slides li:nth-child(4) {
    -webkit-animation-delay: 9.0s;
    -moz-animation-delay: 9.0s;
    background-image: url("../img/light6.jpeg")
}

@-webkit-keyframes anim_slides {
    0% {
        opacity: 0;
    }
    6% {
        opacity: 1;
    }
    24% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes anim_slides {
    0% {
        opacity: 0;
    }
    6% {
        opacity: 1;
    }
    24% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.aside a {
    text-decoration: none;
}

.aside {
    font-family: Courier;
    font-style: normal;
    text-underline: none;
    font-size: 150%;
    font-weight: bold;
    position: relative;
    top: unset;
    border-top: none;
    border-right: none;
    border-left: none;
    height: 100vh;
    color: darkblue;

}

.aside h4 {
    margin-top: 40px;
    margin-left: 40px;

}

.aside h3 {
    margin-top: 40px;
    margin-left: 40px;
    font-weight: bold;
}

.aside ul {
    list-style: initial;
}

.aside ul li {
    color: darkblue;
    display: block;
    text-underline: none;
    margin-top: 20px;
    transition: transform .6s ease;
}

.aside ul li:hover, .aside ul a:hover {
    color: fuchsia;
    transform: scale(1.10);
}

.galleria {
    height: 100vh;
}

.col-6 a {
    text-decoration: none;
}

.col-6 ul {
    list-style: initial;
    text-underline: none;
    font-size: 150%;
    margin-top: 100px;
    font-family: Courier;
    font-style: normal;
}

.col-6 ul li {
    color: darkblue;
    display: block;
    font-size: 20px;
    font-weight: bold;
    text-underline: none;
    margin-top: 100px;
    transition: transform .6s ease;
}

.col-6 ul li:hover, .col ul a:hover {
    color: fuchsia;
    transform: scale(1.10);
}
.col-6 h4{
    list-style: initial;
    text-underline: none;
    margin-top: 100px;
    color: darkblue;
    display: block;
    text-underline: none;
    font-family: Courier;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}


